<h1>New artist</h1>

<%= form_for :artist, url: artists_path do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br><br>
  <%= f.label :discogsid %><br>
  <%= f.text_field :discogsid %><br><br>
  <%= f.label :image %><br>
  <%= f.file_field :avatar %><br>
  <%= f.submit %><br>
<% end %>
