<style type="text/css">
  .text-warning{
    color: #895392!important;
  }
  td {
    display: table-cell!important;
    vertical-align: inherit!important;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-md-6">
          <div class="card card-stats">
            <div class="card-body table-responsive">
              <center><h3>Countries</h3></center>
              <table class="table table-hover">
                <thead class="text-warning">
                  <th>Name</th>
                  <th>Shortname</th>
                  <th>Flag</th>
                  <th>Actions</th>
                </thead>
                <tbody>
                  <% @country.each do |c| %>
                  <tr>
                    <td><%= c.name %></td>
                    <td><%= c.short_name %></td>
                    <td></td>
                    <td><%= link_to 'Delete',  c,  method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
          </div>
        </div>
    </div>
    <div class="col-md-6">
      <div class="card card-stats">
        <div class="card-body table-responsive">
          <center><h3>Add new country</h3></center>
          <%= form_for :country, url: countries_path do |c| %>
            <%= c.label :name %>
            <%= c.text_field :name, :class => "form-control" %><br><br>
            <%= c.label :short_name %>
            <%= c.text_field :short_name, :class => "form-control" %><br><br>
            <%= c.submit %>
          <% end %>
          <center><%= link_to "New", new_country_path %></center>
      </div>
    </div>
    </div>
  </div>
</div>
