<style type="text/css">
  .text-warning{
    color: #895392!important;
  }
  td {
    display: table-cell!important;
    vertical-align: inherit!important;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-md-9">
          <div class="card card-stats">
            <div class="card-body table-responsive">
              <center><h3>Stores</h3></center>
              <table class="table table-hover">
                <thead class="text-warning">
                  <th>Name</th>
                  <th>Description</th>
                  <th>Address</th>
                  <th>Actions</th>
                  <th>Map</th>
                </thead>
                <tbody>
                  <% @stores.each do |c| %>
                  <tr>
                    <td><%= c.name %></td>
                    <td><%= c.description %></td>
                    <td><%= c.address %></td>
                    <td><%= link_to 'Delete',  c,  method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    <td width="30%">
                      <% if c.address.present? %>
                      <iframe
                        width="300"
                        height="170"
                        frameborder="0"
                        scrolling="no"
                        marginheight="0"
                        marginwidth="0"
                        src="https://maps.google.com/maps?q=<%= c.latitude %>,<%= c.longitude %>&hl=es;z=14&amp;output=embed">
                       </iframe>
                      <% end %>
                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
          </div>
        </div>
    </div>
    <div class="col-md-3">
      <div class="card card-stats">
        <div class="card-body table-responsive">
          <center><h3>Actions</h3></center>
          <center><%= button_to 'New',{:controller => "stores", :action => "new"} , {:method=>:get, class: 'btn btn-primary'} %></center>
        </div>
      </div>
    </div>
  </div>
</div>
