<div align="center" class="container">
  <br>
  <h2>New format</h2>
  <br>
    <div class="col-md-4 text-center">
    <%= form_for :format, url: formats_path do |f| %>
      <%= f.label :name %><br>
      <%= f.text_field :name, :class => "form-control" %><br><br>
      <%= f.label :long_name %><br>
      <%= f.text_field :long_name, :class => "form-control" %><br><br>
      <%= f.submit %><br>
    <% end %>
    </div>
</div>
