<div align="center">
  <table border="0" class="admin-navbar">
    <tr>
      <th><%= link_to "Artists", admin_artists_path %></th>
      <th> · </th>
      <th><%= link_to "Records", admin_records_path %></th>
      <th> · </th>
      <th><%= link_to "Grading", admin_grading_path %></th>
      <th> | </th>
      <th><%= link_to "Users", admin_users_path %></th>
      <th> · </th>
      <th><%= link_to "Settings", admin_settings_path %></th>
    </tr>
  </table>
</div>
