<div align="center" class="container">
  <br>
  <h2>New label</h2>
  <br>
    <div class="col-md-4 text-center">
    <%= form_for :record_company, url: record_companies_path do |f| %>
      <%= f.label :name %><br>
      <%= f.text_field :name, :class => "form-control" %><br><br>
      <%= f.label :long_name %><br>
      <%= f.text_field :long_name, :class => "form-control" %><br><br>
      <%= f.label :photo %><br>
      <%= f.file_field :photo, :class => ""  %><br><br>
      <%= f.submit %><br>
    <% end %>
    </div>
</div>
