<div class="section section-signup">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 ml-auto mr-auto">
            <div class="card card-login">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="footer text-center">
                  <h2>Log in</h2>
                </div>
                <div class="card-body text-center">
                  <span class="bmd-form-group"><div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">mail</i>
                      </span>
                    </div>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control" %>
                  </div></span>
                  <span class="bmd-form-group"><div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "form-control" %>
                  </div></span>
                  <% if devise_mapping.rememberable? %>
                    <div class="form-group">
                      <%= f.check_box :remember_me, class: "form-check-input" %>
                      <%= f.label :remember_me, class: "form-check-label" %>
                    </div>
                  <% end %>
                </div>
                <div class="footer text-center" style="margin-top: 20px; margin-bottom: 20px;">
                   <%= f.submit "Log in", class: "btn btn-primary" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
