<div class="container posts-container">
  <ul id="Grid">
      <% @posts.each do |post| %>
        <li>
          <%= link_to post do %>
            <div class="text-center">
              <% if post.front.attached? %>
                <%= image_tag url_for(post.front.variant(resize: '500x500')), class: "img-fluid box", size: '300x300' %>
              <% else %>
                <%= image_tag url_for("default.png"), class: "img-fluid box", size: '300x300' %>
              <% end %>
              <h4 style="color: #3C4858; font-weight: 200; margin-top: 10px; margin-bottom: 0px;">
                <%= post.artist.name %>
              </h4>
              <h3 style="color: #3C4858; font-weight: 300; margin: 0 0;">
                <%= post.title %>
              </h3>
            </div>
          <% end %>
        </li>
      <% end %>
  </ul>
</div>
