<div class="container posts-container">
  <ul id="Grid">
    <% if params[:title] %>
    <center>
    <h3>Title: <b><%= params[:title] %></b></h3>
    </center>
    <% end %>
    <% if params[:artist] %>
    <center>
    <h3>Artist: <b><%= params[:artist] %></b></h3>
    </center>
    <% end %>
    <% if params[:label] %>
    <center>
    <h3>Label: <b><%= params[:label] %></b></h3>
    </center>
    <% end %>
    <% if params[:country] %>
    <center>
    <h3>Country: <b><%= params[:country] %></b></h3>
    </center>
    <% end %>
    <% if params[:year] %>
    <center>
    <h3>Year: <b><%= params[:year] %></b></h3>
    </center>
    <% end %>
      <% @posts.each do |post| %>
        <li>
          <%= link_to post do %>
            <div class="text-center">
              <% if post.front.attached? %>
              <div class="record">
                <%= image_tag url_for("vinyl.png"), class: "img-fluid vinyl", size: '300x300' %>
                <%= image_tag url_for(post.front.variant(resize: '500x500')), class: "img-fluid box sleeve", size: '300x300' %>
              </div>
              <% else %>
                <%= image_tag url_for("default.png"), class: "img-fluid box", size: '300x300' %>
              <% end %>
              <h4 style="color: #3C4858; font-weight: 200; margin-top: 10px; margin-bottom: 0px;">
                <%= post.artist.name %>
              </h4>
              <h3 style="color: #3C4858; font-weight: 300; margin: 0 0;">
                <%= post.title %>
              </h3>
            </div>
          <% end %>
        </li>
      <% end %>
  </ul>
</div>
