<div class="posts-container row">
  <div class="col-sm-2">
     <div class="position-sticky sticky-form">
       <h3>Filter</h3>
       <hr style="margin-top: 0px;">
       <%= render 'filters/current' %>
       <%= render 'filters/artist' %>
       <%= render 'filters/label' %>
       <%= render 'filters/year' %>
     </div>
   </div>
   <div class="col-sm-10">
  <ul id="Grid">
    <%= render 'post', posts: @posts %>
  </ul>
  </div>
</div>
