<div align="center" class="container">
  <br>
  <h2>New post</h2>
  <br>
    <div class="col-md-4 text-center">
    <%= form_for :post, url: posts_path do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title, :class => "form-control" %><br><br>
      <%= f.label :artist %>
      <%= collection_select(:post, :artist_id, Artist.all, :id, :name, {:prompt => true, :multiple=>false}, {class: "form-control"})  %><br><br>
      <%= f.label :year %>
      <%= f.text_field :year, :class => "form-control" %><br><br>
      <%= f.label :country %>
      <%= collection_select(:post, :country_id, Country.all, :id, :name, {:prompt => true, :multiple=>false}, {class: "form-control"})  %><br><br>
      <%= f.label :media_grading %>
      <%= collection_select(:post, :media_grading_id, MediaGrading.all, :id, :text, {:prompt => true, :multiple=>false}, {class: "form-control"})  %><br><br>
      <%= f.label :sleeve_grading %>
      <%= collection_select(:post, :sleeve_grading_id, SleeveGrading.all, :id, :text, {:prompt => true, :multiple=>false}, {class: "form-control"})  %><br><br>
      <%= f.label :featured %>
      <%= f.check_box :featured, :class => "" %><br><br>
      <%= f.label :discogsid %><br>
      <%= f.text_field :discogsid, :class => "form-control" %><br><br>
      <%= f.label :front %><br>
      <%= f.file_field :front %><br><br>
      <%= f.label :back %><br>
      <%= f.file_field :back %><br><br>
      <%= f.submit %>
    <% end %>
</div>
</div>
