<p> New record </p>

<%= form_for :post, url: posts_path do |f| %>
  <%= f.label :title %><br>
  <%= f.text_field :title %><br><br>
  <%= f.label :artist %><br>
  <%= collection_select(:post, :artist_id, Artist.all, :id, :name, {:prompt => true, :multiple=>false })  %><br><br>
  <%= f.label :discogsid %><br>
  <%= f.text_field :discogsid %><br><br>
  <%= f.label :year %><br>
  <%= f.text_field :year %><br><br>
  <%= f.submit %>
<% end %>
