<style>
  .col {
    width: 49%;
    float: left;
  }
</style>
<div class="container">
  <div class="card" style="width: 94%; margin: 0 auto;">
    <div class="card-body text-center">
      <br>
      <h3 style="color: #3C4858; font-weight: 300; margin: 0 0;"><%= @post.artist.name %> - <%= @post.title %></h3>
      <p class="card-text"></p><br>
      <div class="container">
        <div class="col">
          <script type="text/javascript">
              $(document).ready(function() {
                  $("#lightgallery").lightGallery({
                    mode      : 'slide'  // Type of transition between images. Either 'slide' or 'fade'.
                  });
                  $('#selector2').lightGallery({
                    selector: 'this'
                  });


              });
          </script>
          <% if @post.front.attached? %>
            <ul id="lightgallery">
              <a title="View images" href="<%= url_for @post.front %>">
                <%= image_tag url_for(@post.front.variant(resize: '500x500')), class: "img-fluid box", size: '300x300' %>
              </a>
              <% if @post.back.attached? %>
                <li data-src="<%= url_for @post.back %>"></li>
              <% end %>
              <% if @post.vinyl1.attached? %>
                <li data-src="<%= url_for @post.vinyl1 %>"></li>
              <% end %>
              <% if @post.vinyl2.attached? %>
                <li data-src="<%= url_for @post.vinyl2 %>"></li>
              <% end %>
              </ul>
          <% else %>
            <%= image_tag url_for("default.png"), class: "img-fuid" %>
          <% end %>
          <br>
          </div>
        </div>
        <div class="row">
        </div>
        <div class="col" style="text-align: left;">
          <table border="0">
            <th></th>
            <th></th>
            <tr>
              <td><b>Artist:</b></td>
              <td>
                <%= link_to @post.artist.name, posts_path(artist: @post.artist.name) %>
              </td>
            </tr>
            <tr>
              <td><b>Label:</b></td>
              <td>  <%= link_to @post.record_company.name, posts_path(label: @post.record_company.name) %>
                <% if @post.serial_no.present? %>
                - <%= @post.serial_no %>
                <% end %>
              </td>
            </tr>
            <% if @post.country.flag.attached? %>
            <tr>
              <td><b>Country:</b></td>
              <td>
                  <%= (link_to (image_tag url_for(@post.country.flag), class: "img-fluid", size: '30x30'), posts_path(country: @post.country.name)) %>
              </td>
            </tr>
            <% end %>
            <tr>
              <td><b>Released:</b></td>
              <td><%= link_to @post.year, posts_path(year: @post.year) %></td>
            </tr>
            <tr>
              <td><b>Store:</b></td>
              <td><%= link_to @post.store.name, posts_path(store: @post.store.name) %></td>
            </tr>
            <% if @post.buyed_at? %>
            <tr>
              <td><b>Buyed:</b></td>
              <td><%= link_to @post.buyed_at, posts_path(buyed: @post.buyed_at.year) %></td>
            </tr>
            <% end %>
          </table>
          <br>
          <% if @post.audio_sample.attached? %>
            <p><b>Audio</b></p>
          <% end %>
        </div>
      </div>
      <div class="card-body">
        <hr>
        <% if @post.matrix_a.present? %>
          Matrix / Runout (side a): <%= @post.matrix_a %>
        <% end %>
        <% if @post.matrix_b.present? %>
          Matrix / Runout (side b): <%= @post.matrix_b %>
        <% end %>
        <% if @post.notes.present? %>
          <b>Notes:</b><br>
          <p><%= @post.notes %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
