<style>
  .col {
    width: 49%;
    float: left;
  }
</style>
<div class="container">
  <div class="card" style="width: 94%; margin: 0 auto;">
    <div class="card-body text-center">
      <br>
      <h3 style="color: #3C4858; font-weight: 300; margin: 0 0;"><%= @post.artist.name %> - <%= @post.title %></h3>
      <p class="card-text"></p><br>
      <div class="container" style="display: inline-block;">
        <div class="col">
          <% if @post.front.attached? %>
            <%= image_tag url_for(@post.front.variant(resize: '500x500')), class: "img-fluid box", size: '300x300' %>
          <% else %>
              <%= image_tag url_for("default.png"), class: "img-fuid" %>
          <% end %>
          <script type="text/javascript">
          ;( function( $ ) {

          	$( '.swipebox' ).swipebox();

          } )( jQuery );
          </script>
          <ul id="lightGallery" style="display: inline-block;">
            <a href="<% url_for @post.front %>" class="swipebox" title="My Caption">
                <%= image_tag url_for(@post.front.variant(resize: '100x100')), class: "img-fluid box", size: '300x300' %>
            </a>
          </ul>
        </div>
        <div class="row">
        </div>
        <div class="col" style="text-align: left;">
          <table border="0">
            <th></th>
            <th></th>
            <tr>
              <td><b>Artist:</b></td>
              <td><a href="#"><%= @post.artist.name %></a></td>
            </tr>
            <tr>
              <td><b>Label:</b></td>
              <td></td>
            </tr>
            <tr>
              <td><b>Country:</b></td>
              <td>
                <% if @post.country.flag.attached? %>
                  <%= image_tag url_for(@post.country.flag), class: "img-fluid", size: '30x30' %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td><b>Released:</b></td>
              <td><%= @post.year %></td>
            </tr>
          </table>
          <br>
          <% if @post.audio_sample.attached? %>
            <p><b>Audio</b></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
