<style>
  .col {
    width: 49%;
    float: left;
  }
</style>
<div class="container">
  <div class="card" style="width: 94%; margin: 0 auto;">
    <div class="card-body text-center">
      <br>
      <h3 style="color: #3C4858; font-weight: 300; margin: 0 0;"><%= @post.artist.name %> - <%= @post.title %></h3>
      <p class="card-text"></p><br>
      <div class="container">
        <div class="col">
          <script type="text/javascript">
              $(document).ready(function() {
                  $("#lightgallery").lightGallery({
                    mode      : 'slide'  // Type of transition between images. Either 'slide' or 'fade'.
                  });
                  $('#selector2').lightGallery({
                    selector: 'this'
                  });


              });
          </script>
          <% if @post.image_front.present? %>
            <ul id="lightgallery">
              <a title="View images" href="<%= (@post.image_front.standard.url) %>">
                <%= image_tag (@post.image_front.standard.url), class: "img-fluid record", size: '400x400' %>
              </a>
              <% if @post.image_back.present? %>
                <li data-src="<%= (@post.image_back.url) %>"></li>
              <% end %>
              <% if @post.image_vinyl_a.present? %>
                <li data-src="<%= (@post.image_vinyl_a.url) %>"></li>
              <% end %>
              <% if @post.image_vinyl_b.present? %>
                <li data-src="<%= (@post.image_vinyl_b.url) %>"></li>
              <% end %>
              </ul>
          <% else %>
            <%= image_tag url_for("default.png"), class: "img-fuid record", size: '400x400' %>
          <% end %>
          <br>
          </div>
        </div>
        <div class="row">
        </div>
        <div class="col" style="text-align: left;">
          <style>
            p,a,td,b {
              font-size:12pt;
            }
          </style>
          <table border="0">
            <th></th>
            <th></th>
            <tr>
              <td><b>Artist:</b></td>
              <td>
                <%= link_to @post.artist.name, posts_path(artist: @post.artist.name) %>
              </td>
            </tr>
            <tr>
              <td><b>Label:</b></td>
              <td>  <%= link_to @post.record_company.name, posts_path(label: @post.record_company.name) %>
                <% if @post.serial_no.present? %>
                - <%= @post.serial_no %>
                <% end %>
              </td>
            </tr>
            <% if @post.country.image_flag.present? %>
            <tr>
              <td><b>Country:</b></td>
              <td>
                  <%= (link_to (image_tag @post.country.image_flag.url, class: "img-fluid", size: '30x30'), posts_path(country: @post.country.name)) %>
              </td>
            </tr>
            <% end %>
            <% if @post.year.present? %>
            <tr>
              <td><b>Released:</b></td>
              <td><%= link_to @post.year, posts_path(year: @post.year) %></td>
            </tr>
            <% end %>
            <tr>
              <td><b>Store:</b></td>
              <td><%= link_to @post.store.name, posts_path(store: @post.store.name) %></td>
            </tr>
            <% if @post.buyed_at? %>
            <tr>
              <td><b>Buyed:</b></td>
              <td><%= link_to @post.buyed_at, posts_path(buyed: @post.buyed_at.year) %></td>
            </tr>
            <% end %>
            <% if @post.matrix_a.present? %>
            <tr>
              <td><b>Matrix / Runout (side a):</b></td>
              <td><%= @post.matrix_a %></td>
            </tr>
            <% end %>
            <% if @post.matrix_b.present? %>
            <tr>
              <td><b>Matrix / Runout (side b):</b></td>
              <td><%= @post.matrix_b %></td>
            </tr>
            <% end %>
            <% if @post.discogsid.present? %>
            <script type="text/javascript">
              var marketplace = require('discogs-marketplace-js');
              var search_parameters = {
              	id: "Black Sabbath",
              	type: "string",
              	pagination : {
              		page: 1
              	}
              }

              marketplace.search(search_parameters, function(result){
              	if(!(result instanceof Error))
              		console.log(result);
              });
            </script>
            <tr>
              <td><b>Discogs Marketplace</b></td>
              <td><%= @post.matrix_b %></td>
            </tr>
            <% end %>
          </table>
          <% if @post.notes.present? %>
            <b>Notes:</b><br>
            <p><%= @post.notes %></p>
          <% end %>
        </div>
      </div>
      <div class="card-body">
        <hr>

      </div>
    </div>
  </div>
</div>
