<style>
  .col {
    width: 49%;
    float: left;
  }
</style>
<div class="container">
  <div class="card" style="width: 94%; margin: 0 auto;">
    <div class="card-body text-center">
      <br>
      <h3 style="color: #3C4858; font-weight: 300; margin: 0 0;"><%= @post.artist.name %> - <%= @post.title %></h3>
      <h3 class="card-title"><%= @post.year %></h3>
      <p class="card-text"></p>
      <div class="container" style="display: inline-block;">
        <div class="col">
          <% if @post.front.attached? %>
            <%= image_tag url_for(@post.front.variant(resize: '500x500')), class: "img-fluid box", size: '300x300' %>
          <% else %>
              <%= image_tag url_for("default.png"), class: "img-fuid front", size: '300x300' %>
          <% end %>
        </div>
        <div class="col" style="text-align: left;">
          <table border="0">
            <th></th>
            <th></th>
            <tr>
              <td>Artist:</td>
              <td><%= @post.artist.name  %></td>
            </tr>
            <tr>
              <td>Name:</td>
              <td><%= @post.title  %></td>
            </tr>
            <tr>
              <td>Discogs id:</td>
              <td><%= @post.discogsid %> </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
