<% if params[:title] %>
<div class="alert alert-info">
<span>Title: <b><%= params[:title] %></b></span>

<% end %>
<% if params[:artist] %>
<div class="alert alert-primary row filter-close-button">
<p class="filter">Artist: <br><b><%= params[:artist] %></b></p>
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
<span aria-hidden="true"><i class="material-icons">clear</i></span>
</button>
</div>
<% end %>
<% if params[:label] %>
<center>
<span>Label: <b><%= params[:label] %></b></span>
</center>
<% end %>
<% if params[:country] %>
<center>
<span>Country: <b><%= params[:country] %></b></span>
</center>
<% end %>
<% if params[:year] %>
<center>
<span>Year: <b><%= params[:year] %></b></span>
</center>
<% end %>
<% if params[:store] %>
<center>
<span>Store: <b><%= params[:store] %></b></span>
</center>
<% end %>
<% if params[:buyed] %>
<center>
<span>Buyed at <b><%= params[:buyed] %></b></span>
</center>
<% end %>
