<% if params[:title] %>
<center>
<h3>Title: <b><%= params[:title] %></b></h3>
</center>
<% end %>
<% if params[:artist] %>
<center>
<h3>Artist: <b><%= params[:artist] %></b></h3>
</center>
<% end %>
<% if params[:label] %>
<center>
<h3>Label: <b><%= params[:label] %></b></h3>
</center>
<% end %>
<% if params[:country] %>
<center>
<h3>Country: <b><%= params[:country] %></b></h3>
</center>
<% end %>
<% if params[:year] %>
<center>
<h3>Year: <b><%= params[:year] %></b></h3>
</center>
<% end %>
<% if params[:store] %>
<center>
<h3>Store: <b><%= params[:store] %></b></h3>
</center>
<% end %>
<% if params[:buyed] %>
<center>
<h3>Buyed at <b><%= params[:buyed] %></b></h3>
</center>
<% end %>
