<% if params[:artist] %>
<div class="alert alert-primary row filter-close-button">
<p class="filter">Artist: <br><b><%= params[:artist] %></b></p>
<%= link_to secure_path_for(params, :artist) do %>
  <span aria-hidden="true"><i class="material-icons">clear</i></span>
<% end %>
</div>
<% end %>
<% if params[:label] %>
<div class="alert alert-primary row filter-close-button">
<p class="filter">Label: <br><b><%= params[:label] %></b></p>
<%= link_to secure_path_for(params, :label) do %>
  <span aria-hidden="true"><i class="material-icons">clear</i></span>
<% end %>
</div>
<% end %>
<% if params[:country] %>
<div class="alert alert-primary row filter-close-button">
<p class="filter">Country: <br><b><%= params[:country] %></b></p>
<%= link_to secure_path_for(params, :country) do %>
  <span aria-hidden="true"><i class="material-icons">clear</i></span>
<% end %>
</div>
<% end %>
<% if params[:year] %>
<div class="alert alert-primary row filter-close-button">
<p class="filter">Year: <br><b><%= params[:year] %></b></p>
<%= link_to secure_path_for(params, :year) do %>
  <span aria-hidden="true"><i class="material-icons">clear</i></span>
<% end %>
</div>
<% end %>
<% if params[:store] %>
<center>
<span>Store: <b><%= params[:store] %></b></span>
</center>
<% end %>
<% if params[:buyed] %>
<center>
<span>Buyed at <b><%= params[:buyed] %></b></span>
</center>
<% end %>
