<!DOCTYPE html>
<html>
  <head>
    <title>Phoenix Records</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= javascript_include_tag "application" %>
    <%= custom_bootstrap_flash %>
    <%= render 'shared/navbar' %>
    <% if user_signed_in? %>
      <%= render 'shared/adminnavbar' %>
    <% end %>



    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
